name: Tests

on:
  pull_request:
    branches: [ main, dev ]
    paths: 
      - "cmd/**"
      - "internal/**"
      - main.go
      - go.mod
      - go.sum

permissions:
  contents: read

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test -v -race -coverprofile=coverage.out ./...
        env:
          CGO_ENABLED: 1

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        if: always()
        with:
          files: ./coverage.out
          fail_ci_if_error: false
